main {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20vh;
    font-family: "Poppins", sans-serif;
    font-size: 16px;

    @media screen and (max-width:600px){
       flex-direction: column;  
       padding-top: 4vh;
    }

    .flex-div {
        flex: 1;
    }

    .left-div {

        .dev-name {
            color: #ffff;
            font-weight: 500;
            margin: 8px 0;
            font-size: 20px;
        }

        .desc {
            font-size: 15px;
        }

        .hero-btn {
            padding: 15px;
            background: #eddec0;
            color: #252322;
            margin: 10px 0;
            border: none;
            font-weight: 600;
            cursor: pointer;
            transition: ease-in-out .3s;

            &:hover {
                background: #a77d28;
                color: #fff;
            }
        }
    }

    .right-div {

        @media screen and (max-width: 600px){
            margin-top: 2rem;
        }

        .wrapper {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon-img {

                width: 40px;
                height: 40px;
            }
        }

        .section-container {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .wrapper-container {
            display: flex;
            align-items: center;
            gap: 30px;

            div {
                display: flex;
                gap: 10px;
                flex-direction: column;
                align-items: center;
            }
        }

        .icon-div {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            border: solid 1px #eddec0;
            width: 124px;
            height: 124px;
            gap: 20px;
            cursor: pointer;
            transition: ease-in-out .3s;

            @media screen and (max-width: 600px){
                width: 100px;
                height: 100px;
            }

            &:hover {
                transform: scale(1.1);
                border: 2px solid white;
            }

            span {
                font-size: 1.3rem;
            }
        }
    }
}