.main {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 10vh;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
    padding-top: 2vh;
  }
}
.flex-div {
  flex: 1;
}
@media screen and (max-width: 600px) {
  .left-div {
    order: 2;
  }
}
 .heading {
  text-transform: capitalize;
  font-size: 3.6rem;
  font-weight: 700;
  font-family: "Rubik Mono One", monospace;
}
@media screen and (max-width: 600px) {
 .heading {
    margin-top: 40px;
    font-size: 2.2rem;
    /* text-align: center; */
  }
}

@media screen and (max-width:600px) {
  .heading {
     margin-top: 40px;
     font-size: 2.2rem;
   }
 }

@media screen and (max-width:400px) {
  .heading {
     margin-top: 40px;
     font-size: 1.8rem;
     /* text-align: center; */
   }
 }

 .paragraph {
  width: 100%;
  margin: 10px 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 2px;
  /* text-align: justify; */
}
@media screen and (max-width: 600px) {
.paragraph {
    margin: 10px auto;
    width: 100%;
    margin-bottom: 50px;
  }
}
 .hero-button {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 600px) {
.hero-button {
    /* text-align: center; */
    width: 100%;
    margin-top: 50px;
    justify-content: center;
  }
}
.hero-btn {
  padding: 10px;
  background: #1e1d1d;
  margin: 5px 0;
  font-family: "Rubik Mono One", monospace;
  border: none;
  color: #ffffff;
  font-size: 10px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  border: 1px solid #1e1d1d;
}
.hero-btn:hover {
  background: #cc9873;
  color: #ffffff;
  border: none;
}
.project-btn {
  color: #ffffff;
  background: #1e1d1d;
  padding: 10px;
  background: #ffffff;
  margin: 5px 0;
  font-family: "Rubik Mono One", monospace;
  border: none;
  color: #1e1d1d;
  font-size: 10px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  border: 1px solid #1e1d1d;
}
.project-btn:hover {
  background: #cc9873;
  color: #ffffff;
  border: none;
}
@media screen and (max-width: 600px) {
.right-div {
    margin-top: 2rem;
    order: 1;
  }
}
.hero-img {
  margin: 0 auto;
  width: 320px;
  height: 320px;
}
@media screen and (max-width: 600px) {
 .hero-img {
    width: 220px;
    height: 220px;
   background: #dddddd;
  }
}
.hero-image-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}