.main {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 10vh;
  font-family: "Poppins", sans-serif;
  font-size: 16px;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    padding-top: 2vh;
  }

  .flex-div {
    flex: 1;
  }

  .left-div {
    @media screen and (max-width: 600px) {
      order: 2;
    }

    h2 {
      text-transform: capitalize;
      font-size: 4rem;
      font-weight: 700;
      font-family: "Rubik Mono One", monospace;

      @media screen and (max-width: 600px) {
        margin-top: 40px;
        font-size: 2.2rem;
        text-align: center;
      }
    }

    p {
      width: 65%;
      margin: 10px 0;
      font-weight: 400;
      // font-family: "Ubuntu Mono", monospace;
      font-size: 16px;
      line-height: 1.1;

      @media screen and (max-width: 600px) {
        // text-align: center;
        margin: 10px auto;
        width: 90%;
      }
    }

    .hero-button {
      display: flex;
      align-items: center;
      gap: 20px;

      @media screen and (max-width: 600px) {
        text-align: center;
        width: 100%;
        justify-content: center;
      }
    }

    .hero-btn {
      padding: 10px;
      background: #1e1d1d;
      margin: 5px 0;
      font-family: "Rubik Mono One", monospace;
      border: none;
      color: #ffffff;
      font-size: 10px;
      cursor: pointer;
      transition: ease-in-out 0.3s;
      border: 1px solid #1e1d1d;

      &:hover {
        background: #cc9873;
        color: #ffffff;
        border: none;
      }
    }

    .project-btn {
      color: #ffffff;
      background: #1e1d1d;
      padding: 10px;
      background: #ffffff;
      margin: 5px 0;
      font-family: "Rubik Mono One", monospace;
      border: none;
      color: #1e1d1d;
      font-size: 10px;
      cursor: pointer;
      transition: ease-in-out 0.3s;
      border: 1px solid #1e1d1d;

      &:hover {
        background: #cc9873;
        color: #ffffff;
        border: none;
      }
    }
  }

  .right-div {
    @media screen and (max-width: 600px) {
      margin-top: 2rem;
      order: 1;
    }

    .hero-img {
      margin: 0 auto;
      @media screen and (max-width: 600px) {
        width: 100px;
        height: 100px;
      }
    }

    .hero-image-container {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
  }
}
